h1, h2, h3, p {

    font-family: sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #F5E6E8;
}

.logo-img {
    width: 120px;
    height: 83.69px;
    left: 26px;
    top: 26px;
    float: left;
    display: inline;
}

body {
    background: #192A51;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: Perpetua;
    font-size: 18px;

}

nav {
    align-items: center;
    text-align: left;
    margin: 0;
}
nav a:hover {
    background-color: #F5E6E8;
    color: #192A51;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 17px;
}

nav > ul > li > a {
    font-family: Perpetua;
    font-size: 20px;
    color: #F5E6E8;
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
}

.logo-img-text {
    font-family: Perpetua;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 27px;
    color: #F5E6E8;
}

.text-meet-team {
    line-height: 120px;
}
/* ----------Tina index css-------- */
#news {
    height: 500px;
    width: 450px;
    overflow: auto;
    float: right;
    background-color: #967AA1;
    margin-top: 30px;
    margin-right: 10px;

}

#news p {
    text-align: center;
}

.post {
    background: rgb(150,122,161);
    background: radial-gradient(circle, rgba(150,122,161,1) 0%, rgba(170,161,200,1) 38%, rgba(213,198,224,1) 100%);
    margin: 5px;
    border: 2px solid black;
}
#news img {
    height: 370px;
    width: 420px;
    opacity: 50%;
}
#news h2 {

    font-family: "Comic Sans MS";
    font-size: 30px;
    color: #192A51;
    text-align: center;
    color: white;


}

#news h3 {
    font-family: "Comic Sans MS";
    font-size: 20px;
    text-align: center;
    color: #192A51;

}
#quote {
    position: relative;
    float: left;


    margin-top: 30px;
    margin-left: 130px;

}
#quote img {
    width: 600px;
    height: 400px;

}

#q{
    position: absolute;
    top: 130px;
    left: 100px;
    font-family: "Brush Script MT";
    font-size: 40px;
    visibility: hidden;



}
#quote:hover #q{
    visibility: visible;
}
#quote:hover #hotel {
    opacity: 30%;
}

.text-meet-team-second {
    width: 245px;
    height: 10px;
    right: 100px;
    top: 409px;
    font-size: 24px;
    font-family: sans-serif;
    /*text-align: center;*/

}

.text-meet-team-third {
    font-size: 96px;
    /*width: 1000px;*/
    height: 400px;
    /*left: 117px;*/
    /*top: 479px;*/
    /*padding: 20px;*/
    text-align: center;
}

.text-meet-team-word {
    color: #967AA1;
}


.footer {
    /*position: fixed;*/
    /*bottom: 0;*/
    /*left: 0;*/
    width: 100%;
    background: linear-gradient(#192A51, #967AA1, #AAA1C8, #D5C6E0, #F5E6E8);
    text-align: left!important;
}

.footer p {
    text-align: left;
    padding: 15px 0 15px 15px;
    margin-block-start: 0;
    margin-block-end: 0;
}

/* Three columns side by side */
.column {
    float: left;
    width: 480px;
    margin-bottom: 16px;
    padding: 0 40px;}


/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: inline-block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/*!* Clear floats *!*/
/*.container::after, .row::after {*/
/*    content: "";*/
/*    clear: both;*/
/*    display: table;*/
/*}*/

.title {
    color: #F5E6E8;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

.second-row-meetus{
    width: max-content;
    margin: 0 auto;
}

.row{
    width: max-content;
    margin: 0 auto;
    height: 900px;
}