* {
    box-sizing: border-box;
}

h1, h2, h3, p {

    font-family: sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #F5E6E8;
    font-weight: bold;
}

img {
    width: 100%;
}

.logo-img {
    width: 120px;
    height: 83.69px;
    left: 26px;
    top: 26px;
    float: left;
    display: inline;
}

body {
    background: #192A51;
    margin: 0;
    padding: 0;
    font-family:  serif;
    font-size: 18px;

}

nav {
    align-items: center;
    text-align: left;
    margin: 0;
}

nav a:hover {
    background-color: #F5E6E8;
    color: #192A51;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 17px;
}

nav > ul > li > a {
    font-family:  sans-serif;
    font-size: 20px;
    color: #F5E6E8;
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
}

.logo-img-text {
    font-family:  sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 27px;
    color: #F5E6E8;
}

.text-meet-team {
}


.text-meet-team-second {
    width: 245px;
    height: 10px;
    right: 100px;
    top: 409px;
    font-size: 24px;
    font-family: sans-serif;
    /*text-align: center;*/

}

.text-meet-team-third {
    font-size: 75px;
    text-align: center;
    margin-bottom: 100px;
}

.text-meet-team-word {
    color: #967AA1;
}


.footer {
    width: 100%;
    background: linear-gradient(#192A51, #967AA1, #AAA1C8, #D5C6E0, #F5E6E8);
    text-align: left !important;
}

.footer p {
    text-align: left;
    padding: 15px 0 15px 15px;
    margin-block-start: 0;
    margin-block-end: 0;
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 450px;

}

/* Some left and right padding inside the container */
.card-container {
    padding: 0 16px;
    position: relative;
    bottom: 300px;
    visibility: hidden;
}

.card:hover .card-container  {
    visibility: visible;
}

.card:hover img{
    opacity: 30%;
}



.title {
    color: #F5E6E8;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

/*.second-row-meetus {*/
/*    width: max-content;*/
/*    margin: 0 auto;*/
/*}*/

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    margin: 0 -15px;
}

/* Three columns side by side */
.column {
    float: left;
    margin-bottom: 16px;
    padding: 0 15px;
}

.column.col-4{
    width: calc(100% / 12 * 4);
}

.column.offset-left-2 {
    margin-left: calc(100% / 12 * 2);
}

.column.offset-right-2 {
    margin-right: calc(100% / 12 * 2);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}