img {
    opacity: 70%;
}

.reviews {
    height: 250px;
}

@media (max-width: 500px) {
    .reviews {
        height: 100px;
    }
}

.RATINGS {
    text-align: center;
    font-size: 0.8em;
}

.ratings i {
    color: #463F3A;
    font-size: 1.8em;
}
.ratings {
    margin-right: 10px;


}

.special {
    color: #B79F7B;

}



