
body {
    color: #F5E6E8;
}

#Rooms {
    color: #F5E6E8;
    text-align: center;
    margin-bottom: 100px;
}

.bookmark {
    color: #F5E6E8;
}

.clearfix {
    clear: both;
}

h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    text-decoration: underline;
}

.rooms > img {
    width: 450px;
    float: left;
    margin: 25px 140px;
    border: 2px solid #192A51;
    color: #192A51;
    background-color: #D5C6E0;
    padding: 20px;
}

.rooms > p {
    text-align: center;
    padding-top: 100px;
    font-size: 25px;
}

.clearfix {
    clear: both;
}

.footerI {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(#192A51, #967AA1, #AAA1C8, #D5C6E0, #F5E6E8);
    text-align: left
}



